cat <<EOT >> .gitignore
# Windows
venv/
*.bat
.vscode/

# Linux
*.log
hadoop/
spark/

# 通用
*.pyc
__pycache__/
node_modules/
dist/
.DS_Store
EOT
# Windows
*.exe
*.bat
.vscode/

# Python
venv/
*.pyc
__pycache__/

# Node.js
node_modules/
dist/

# 通用
.DS_Store
